 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Elenco Utenti</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
    <h1>Utenti</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Ruolo</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.user}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.role}"></td>
                <td>
                    <form th:action="@{/users/{id}/verifyPassword(id=${user.id})}" method="post">
                        <input type="password" name="password" placeholder="Inserisci password" required />
                        <button type="submit">Accedi</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
